<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <link href="/css/site.css" type="text/css" rel="stylesheet"/>
        <title>iteration.next() - {{ page.title }}</title>
    </head>

    <body>
        <div id="page">
            <div id="header">
                <h1>iteration.next()</h1>
                <p class="comment">/** An online novel about the Source, the Force, the real life and everything
                in between...**/<p>
                <p class="em">by Bozhidar Batsov</p>
            </div>
            <div id="middle">
                <div id="menu">
                    <ul id="list-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="archive.html">Archive</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
                <div id="content">
                    {{ content }}
                </div>
            </div>
            <div id="footer">
                <p>Copyright &copy; 2010 Bozhidar Batsov. All Rights Reserved.</p>
                <!-- NACHALO NA TYXO.BG BROYACH -->
                <script  type="text/javascript">
                    <!-- 
                         d=document;
                         d.write('<a href="http://www.tyxo.bg/?110731" title="Tyxo.bg counter" target=" blank"><img width="80" height="15" border="0" alt="Tyxo.bg counter"');
                         d.write(' src="http://cnt.tyxo.bg/110731?rnd='+Math.round(Math.random()*2147483647));
                         d.write('&sp='+screen.width+'x'+screen.height+'&r='+escape(d.referrer)+'" /><\/a>');
                         //-->
                </script>
                <noscript><a href="http://www.tyxo.bg/?110731" title="Tyxo.bg counter" target="_blank"><img src="http://cnt.tyxo.bg/110731" width="80" height="15" border="0" alt="Tyxo.bg counter" /></a></noscript>
                <!-- KRAI NA TYXO.BG BROYACH -->
            </div>
        </div>
    </body>
</html>
