<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <link href="/css/site.css" type="text/css" rel="stylesheet"/>
        <title>iteration.next() - {{ page.title }}</title>
    </head>

    <body>
        <div id="page">
            <div id="header">
                <h1>iteration.next()</h1>
                <p class="code">/** An online novel about the Source, the Force, the real life and everything
                in between...**/<p>
                <p class="em">by Bozhidar Batsov</p>
            </div>
            <div id="middle">
                <div id="menu">
                    <ul id="list-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="archive.html">Archive</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
                <div id="content">
                    {{ content }}
                </div>
            </div>
            <div id="footer">
                <p>Copyright &copy; 2010 Bozhidar Batsov. All Rights Reserved.</p>
            </div>
        </div>
    </body>
</html>
